#anima-div
{
    background: url("../img/sprite-multi_1.png") -0px -531px;
    height:120px;
    width:120px;
    animation: anima-sprite 1s steps(10) infinite;

}

@keyframes anima-sprite{
    100%{background-position-x: -1200px};
}